@import '../App.scss';
.Header {
    margin-bottom: $space-l;
}

.Header-Title {
    font-size: 2em;
    color: var(--color-text-primary);
}

.Header-Subitle {
    color: var(--color-text-secondary);
}