@import '../App.scss';
.Input {
    display: flex;
    align-items: center;
    height: $size-control;
    border-radius: $radius-control;
    background-color: var(--color-base);
    color: var(--color-text-primary);
    padding: 0 12px;
    border: 2px solid var(--color-outline);
    width: 240px;
    margin-bottom: $space-l;
    outline: none;
    font-size: 1em;
}

.Input::placeholder {
    color: var(--color-text-secondary);
}

.Input:focus {
    border-color: var(--color-base-content);
}