@import '../App.scss';
.MessageBox {
    padding: $space-xl;
    background-color: var(--color-surface-background);
    color: var(--color-surface-content);
    border-radius: $radius-container;
    max-width: 600px;
    margin-bottom: $space-xl;
    .Header-Title {
        font-size: 1.3em;
    }
    .Header-Subitle {
        font-size: 0.8em;
    }
    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}

.MessageBox_danger {
    max-width: 420px;
    position: fixed;
    top: $space-m;
    right: $space-l;
}