@import '../App.scss';
.RadioButton {
    display: inline-flex;
    align-items: center;
    height: $size-control;
    border-radius: $radius-control;
    background-color: var(--color-control-background);
}

.RadioButton-Item {
    padding: 0 12px;
    position: relative;
    display: flex;
    align-items: center;
    height: $size-control - $space-m;
    color: var(--color-text-secondary); // CHECK
}

.RadioButton-Item_current {
    background-color: var(--color-base);
    border-radius: $radius-control;
    color: var(--color-text-primary);
}