// BASE
// $color-base: #ffffff;
$color-base: #4698eb;

$color-base-content: #000;
$color-base-background: #fff;

@if lightness($color-base) < 60% {
    $color-base-content: #fff;
    $color-base-background: #000;
}

// ACCENT
$color-accent: #ffd500;
// $color-accent: #8ce458;

$color-accent-content: #000;
$color-accent-background: #fff;

@if lightness($color-accent) < 50% {
    $color-accent-content: #fff;
    $color-accent-background: #000;
}

// TEXT
$color-text-primary: $color-base-content;
$color-text-secondary: transparentize($color-base-content, 0.2);

// SURFACES
$color-page-background: mix($color-base-content, $color-base, 7%);
$color-page-content: $color-base-content;

$color-surface-background: $color-base;
$color-surface-content: $color-base-content;

$color-container-background: transparentize($color-base-content, 0.94);
$color-container-content: $color-base-content;

// CONTROLS
$color-control-background: transparentize($color-base-content, 0.85);
$color-control-content: $color-base-content;


$size-control: 36px;
$radius-control: 4px;
$space-xs: 2px;
$space-s: 4px;
$space-m: 8px;
$space-l: 16px;

body {
    background-color: $color-page-background;
    color: $color-page-content;
}

.Content {
    background-color: $color-surface-background;
    color: $color-surface-content;
    padding: 0 24px;
}

.Container {
    background-color: $color-container-background;
    color: $color-container-content;
    padding: 0 24px;
}

.Control {
    background-color: $color-control-background;
    color: $color-control-content;
    display: inline-block;
}

.Area {
    padding: 16px;
}