$size-control: 36px;
$radius-control: 6px;
$radius-container: 12px;
$space-xs: 2px;
$space-s: 4px;
$space-m: 8px;
$space-l: 16px;
$space-xl: 20px;
body {
    background-color: var(--color-page-background);
    color: var(--color-page-content);
}

.Content {
    background-color: var(--color-surface-background);
    color: var(--color-surface-content);
    padding: 0 24px;
}

.Container {
    background-color: var(--color-container-background);
    color: var(--color-container-content);
    padding: 0 24px;
}

.Control {
    background-color: var(--color-control-background);
    color: var(--color-control-content);
}

.Area {
    padding: 16px;
}